<h3>Welcome <%= @user.username.capitalize %></h3>

<a href="/logout">Log Out</a>
<%= link_to "Create New Wallet",  new_user_wallet_path(@user.id)%>
<%= link_to "Show wallets", user_wallets_path(@user)%>
